node_modules/
.pnpm-store/
.turbo/
coverage/
dist/

.DS_Store
*.log
*.tsbuildinfo

.expo/
apps/mobile/.expo/
apps/mobile/dist/
apps/mobile/web-build/

apps/web/.next/
apps/web/out/

supabase/.temp/

ios/
android/
apps/mobile/ios/
apps/mobile/android/

docs/documentation
tmp/*
